<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') -%>
</head>

<body>
    <div class="container">
        <%- include ('../partials/header') -%>
        <section class="row">
            <div class="col s12 m6 offset-m3">
                <h2>Welcome Dashboard</h2>
            </div>
        </section>
    </div>
</body>

</html>