<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') -%>
</head>

<body>
    <div class="container">
        <%- include ('../partials/header') -%>
        <section class="row">
            <div class="col s12 m8 offset-m2">
                <form>
                    <div class="row" id="education">

                        <div class="input-field col s12">
                            <a class="btn-large enabled" style="width: 100%" href="/organizations">Next</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <%- include ('../partials/scripts') -%>
    <script type="text/javascript" src="/js/education.js"></script>
</body>

</html>