<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') -%>
</head>

<body>
    <div class="container">
        <%- include ('../partials/header') -%>
        <section class="row">
            <div class="col s12 m8 offset-m2">
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="jobTitle">Title</label>
                            <input type="text" id="jobTitle" name="jobTitle">
                        </div>
                        <div class="input-field col s12 m6">
                            <label for="company">Company</label>
                            <input type="text" id="company" name="company">
                        </div>
                        <div class="input-field col s12 m6">
                            <label for="companyAddress">Company Address</label>
                            <input type="text" id="companyAddress" name="companyAddress">
                        </div>
                        <div class="input-field col s12 m6">
                            <select class="browser-default">
                                <option value="null-month" selected>Start Month</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6">
                            <select class="browser-default start-year">
                                <option value="null-year" selected>Start Year</option>
                                /* Years add by js */
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <a class="btn-large enabled" style="width: 100%" href="">Add Job</a>
                        </div>
                        <div class="input-field col s12">
                            <a class="btn-large enabled" style="width: 100%" href="">Next</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <%- include ('../partials/scripts') -%>
</body>

</html>