<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') -%>
</head>

<body>
    <div class="container">
        <%- include ('../partials/header') -%>
        <section class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="card-action teal lighten-1 white-text">
                        <h2>Log In Form</h2>
                    </div>

                    <%- include ('../partials/messages') -%>

                    <form class="card-content" action="/login" method="POST">
                        <div class="input-field">
                            <input type="text" id="username" name="username"
                                onkeyup="validateInput('username', 'login')">
                            <label for="username">Username</label>
                            <span class="helper-text" data-error="Too Short"></span>
                        </div>
                        <div class="input-field">
                            <input type="password" id="password" name="password"
                                onkeyup="validateInput('password', 'login')">
                            <label for="password">Password</label>
                            <span class="helper-text" data-error="Too Short"></span>
                        </div>
                        <div class="input-field">
                            <button class="btn-large disabled login-btn" style="width: 100%">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <%- include ('../partials/scripts') -%>
</body>

</html>